[2018-10-08 23:48] Huh opened #1 "Create function to read csv's"
As it says...

The function should read a single or multiple csv's and return a tibble.  The function should not care about column names, manufacturer or other details.  The function should be documented, tested and easy to read with a single purpose.

A proposed structure was
[code]

Other features might include adding header information to output, guessing at the skipping of rows, etc.

[2018-10-08 23:52] Huh opened #2 "Check that coordinates are valid"
We need a function to validate entries in x and y columns.  This could include a user defined bounding box that flags or deletes bad coordinates.

[2018-10-08 23:53] Huh opened #3 "Find duplicates"
We need a function to find duplicate entries in the GPS data.  This could be very simple, but some thought should be devoted to the implementation and the action that is taken when duplicates are found.

[2018-10-08 23:54] Huh opened #4 "Function to decide how many rows to skip, define header and parse out data"
A simple algorithm might be to ask the user for the name of the first column and use something like

[code]

More complex options are possible.

[2018-10-08 23:58] Huh opened #5 "Function to parse header and add desired information to data"
The headers of some of the data sets contain useful information, such as the collar serial number.  We need a function to pull out the desired information from the headers.  An example csv might look like...

[code]

The function should be able to take a user input such as "Product ID" and return the value without the subsequent commas.

[code]

[2018-10-09 00:02] Huh opened #6 "Check that dates are valid"
A function to format date time column.  Helper functions might allow for checking that dates are valid (e.g. not in the future).  We might also define some methods for splitting the date time values into separate values in columns, such as day, month, quarter, etc.

Other thoughts?

[2018-10-09 00:04] Huh opened #7 "Helper for defining file paths"
Something like

[code]

[2018-10-09 00:05] Huh opened #8 "Conversion functions temperature"
It would be nice to be able to flip between Fahrenheit and Celsius

[2018-10-09 00:10] Huh opened #9 "Define common column names and create internal data store"
Create internal lookup table

Perhaps something like
[code]

The names should relate common data regardless of name to a common name.  The mfg column will help us add the manufacturer to the data set where desired.

[2018-10-09 00:11] Huh opened #10 "Consistent set of Fix Types"
Define a consistent set of fix types that take advantage of information returned by the collar.  An attempt should be made to not lose information here as a 3D-V fix is potentially different than a 3D fix.  The list of values may include...

NoFix
2D
3D
3D-V

Other options are obviously possible.  We should probably choose lower case for consistency and use the internal data store similar to the c

[2018-10-09 00:14] Huh opened #11 "Lookup function"
We are trying to use 2(?) internal data sources to replace values with a consistent set of values and reduce the number of places these values are stored.  To implement this feature we will need a function that matches values and replaces the old with the new.  The proposed data structure might look like

[code]

The function requested here will take data and the lookup table as an input and repla

[2018-10-09 00:17] Huh opened #12 "DOP, PDOP"
Not sure what to do about this.  Any thoughts on what we want to do with this column?  Should we set it aside for later when filtering is introduced or does it need to be part of the reading process?

Thoughts on how to combine the various measures?

[2018-10-09 00:20] Huh opened #13 "Function name prefix"
I will propose that we prefix every function name with cllr.  This will make it easy to find functions in RStudio using the suggestions, so a function might be called cllr_foo or cllr_fetch_csv or whatever, but it will always start with cllr.  Other suggestions?

[2018-10-09 00:29] Huh opened #14 "Potential Analyses and Uses"
A list of analyses and uses of data that we can use to guide our decision making processes.

- RSF
- Occupancy
- Basic summaries
- Displacement
- Summaries of habitat use

Others????

[2018-10-12 14:38] foresthayes commented on #3
I'm struggling to think of reasons to retain duplicate rows.  In my current workflow I always download all collar data (so you don't miss collars with no new points), combine with a local database and remove duplicate rows with something like this: `unique(data[1:length(data[1, ])])`

Thoughts?

[2018-10-12 18:06] Huh commented on #3
I agree that they are not really useful.  The point of being a unique function is that we can report to the user how many duplicates were found and in the event someone is studying or cares about duplicates we can not remove them without having to modify other code.

I like the tidyverse and would argue that relying on those packages is a decent bet (i.e. they will be maintained, etc).  If we go t

[2018-10-12 18:10] Huh commented on #14
I like it, great suggestion for recovering morts and other work!  I will expand the GPX to kml/kmz...

- Make points available to upload to GPS
- Create default maps meant for printing and navigation, topo maybe
- Encourage exploration via google earth, possibly with an embedded explorer

[2018-10-12 18:48] foresthayes opened #15 "Function to convert between coordinate systems"
We should consider what coordinate systems we want to include support for or include as a default.  It would also be useful to have a function to convert between systems.  I often find myself converting back and forth between lat long and UTM.  Generally I have found lat long the easiest to use for exporting location data (i.e. .gpx files) but most rasters are in UTM.

At a minimum this function s

[2018-10-12 18:58] Huh commented on #15
I like this idea.  I think initially we should require lat/long decimal degrees WGS84.  We can develop the initial bit from there and then build conversion wrappers later and add more bells and whistles.  Sounds reasonable?  Internally I don't want multiple CRSs to deal with...this will be in part an order of operations deal.

I am all for the sf package and do think it is the best bet going forwa

[2018-10-12 19:14] foresthayes commented on #6
We probably need to choose a default date time format and time zone to work off of.  I have collars that report a variety of formats [time, Julian day, year] and [time, mm/dd/yyyy] that  record time in a variety of time zones.

I'm a little uncertain at this point if this should be its own function (to convert between date time formats) or built into the larger function to convert data from differ

[2018-10-12 20:31] Huh commented on #6
I am actually a big fan of GMT for time zone, but people will want to see local time too.  Perhaps the data could be GMT and the print method convert to local?  That said, this seems like a good place to leverage S3 methods.  These are generally a good idea when you want to apply a function multiple times or on different types of data (~ classes).

http://adv-r.had.co.nz/S3.html

This is a big con

[2018-10-19 15:51] foresthayes commented on #8
I have been experimenting with S3 methods and am hoping for some feedback or suggestions on how we generally want to structure functions that use multiple classes.

In this instance I think it makes most sense to have two separate functions one for each conversion (rather than a single function that takes the temperature unit as an input).

Suggestions on the function below?

[code]

[2018-10-31 15:57] Huh opened #16 "Find purpose of Iridium GPS column"
How is it different than GPS Latitude and why do we care.

[2018-11-01 15:38] teejclark commented on #6
I figured I'd put the simple code that we've created to deal with the date-time columns. As it stands now, users will have to give a date format, something like "%Y-%M",etc, etc. Simply:

dater<-function(x,date_time,date_format,timezone){
  x %>% unite(dt,date_time, sep="-") %>%
    mutate(datetimestamp=as.POSIXct(
      dt, paste(date_format,sep="-"), tz=timezone)
    )}

One thought is to make t

[2019-02-07 17:56] Huh opened #19 "Refactor/organize vectronics API calls"
- Move from CollarDownloadeR to collar
- Reorganize functions in terms of actual function, documentation, etc
- Write tests

[2019-02-07 18:00] Huh opened #20 "Refactor/organize ATS API calls"
* Move from CollarDownloadeR to collar
* Reorganize functions in terms of actual function, documentation, etc
* Write tests

[2019-02-07 18:11] Huh opened #21 "Create Telonics API call"
- Discover url
- Explore structure, httr or selenium
- Write code
- Test

[2019-02-14 00:13] rgzn opened #22 "Document the standard collar format"
A function `cllr_morph_gps` is provided to standardize collar format. It would be nice to document the standard collar format and provide an example of data in that format.

[2019-02-26 22:06] rgzn commented on #13
Not sure this is a good idea. The standard way to solve this issue is the use of namespaces instead of making all function names longer.

All functions in the collar library should be in the collar namespace so should be used as follows:

collar::foo
collar::fetch_csv

[2019-02-26 22:52] Huh commented on #13
The reason for doing it is speed/convenience.  Those using editors with
auto-complete can type cllr and see all the functions in the package.  It
is in the spirit of stringr.  If you don't like it we can reconsider.  I
like having a crutch and while namespaces do help avoid name collision it
doesn't solve the problem without explicit calls.

On Tue, Feb 26, 2019, 3:06 PM rgzn <notifications@github

[2019-02-26 23:13] Huh commented on #13
I don't have a strong opinion about this and another person brought up the same idea of dropping the object_verb naming convention.  We should revisit the conversation

[2019-03-06 21:21] rgzn commented on #16
Can you give an example of this column and its data?

[2019-03-06 21:31] Huh commented on #16
One example from Telonics

Acquisition Time | Acquisition Start Time | Iridium CEP Radius | Iridium Latitude | Iridium Longitude | GPS Fix Time | GPS Fix Attempt | GPS Latitude | GPS Longitude | GPS UTM Zone | GPS UTM Northing | GPS UTM Easting | GPS Horizontal Error | GPS Navigation Time | GPS Geofence Count | GPS Geofence List | Activity Count | Temperature | Satellite Uplink | Receive Time | Re

[2019-03-06 21:32] Huh commented on #16
I did not see other examples of this column or anything specifically called Iridium GPS, so hasty issue creation may be causing a bit of confusion.

[2019-03-06 21:53] rgzn commented on #16
TLDR: I think this is an unused "fix at time of iridium transmission"

Long answer:
In Iridium short burst data messages, location is one of the optional fields. Some iridium messaging units will choose to send a location with each message, which would be the location at time of iridium transmission. My guess is this was left in but unused, as GPS collars are going to be transmitting fixes recorde

[2019-03-06 22:32] Huh commented on #16
Great, thanks

[2019-03-06 22:32] #16 closed

[2019-05-02 16:13] HansMartinMT opened #24 "Determine the logic behind the Vectronic data ID"
We want to determine if we can use the data point ID to allow us to access data starting after a previous download. If the data point ID's are unique to 'our' collars, this could allow us to use a single ID to access for all of the collars instead of having a unique data point ID for each collar.

[2019-05-02 17:29] HansMartinMT opened #25 "fetch_csv line 46"
Passing the ellipse within read_csv(.x, skip=skip, ...)  inserts NAs when combining csv files.

[2019-05-03 20:51] rgzn commented on #24
By data point ID, do you mean the first column in a vectronic text file?  Eg. the "2674" in the following snippet:

`    2674    16245 2019-01-01 20:00:31 2019-01-01 12:00:31`

Just curious if I can help answer your question. I have lots of these to look at. At first glance, they appear to just increment with each position record for a collar. Not unique to collars or accounts.

[2019-05-04 20:38] Huh commented on #24
Yeah, one guess is that they increment across some large set of collars or
even all active collars?

On Fri, May 3, 2019, 2:51 PM rgzn <notifications@github.com> wrote:

[2019-05-06 22:42] Huh opened #26 "Vectronics server status"
Today @HansMartinMT tried the fetch_vectronics workflow and got and error, which resolved itself a short while later.  This is potentially due to the vectronics server being down or otherwise unresponsive. Given that we have a call to `httr::warn_for_status` we should show the user anything that is not a 200. This is to update.

See this link for further explanation and implementation
https://httr

[2019-05-09 01:05] Huh commented on #24
@HansMartinMT or @foresthayes can you please respond to this question "By data point ID, do you mean the first column in a vectronic text file?"

[2019-05-09 01:07] Huh commented on #13
Have revisited several times now and looks like we are working towards families of functions.

All of the fetch_* functions retrieve data for example. I think this is a nice hybrid solution, other thoughts?

[2019-05-09 02:23] foresthayes commented on #24
Using collar::fetch_vectronics the first column I get back is "idPosition". Below are the last 50 values **for a single collar**.  I have not been able to figure out what these values relate to although they do seem to always increase.  Note that the increment is often ~50,000 but is also highly variable.

[code]

[2019-05-16 03:46] foresthayes opened #34 "Vectronics data_after_id and start_date options don't work"
The fetch_vectronics function returns a data frame of errors when using either the after_data_id or start_date options.

Example output using either option:

Due to the length of time (often) required to download all locations from Vectronics' servers this should be a high priority to resolve.

[2019-05-22 23:04] Huh opened #36 "Add download collars in mortality, collars in low battery, lists from ATS"
ATS has data data lists called collars in mortality, collars in low battery, etc. We should be able to grab these collar serial numbers and return them to the user.

[2019-05-22 23:05] Huh opened #37 "Add individual collar download to ATS features"
Each collar has its own set of download buttons.  We should add functionality that allows users to exploit these buttons. A use case is collar x is on mortality and the user wants to see where the last few locations were to aid in recovering the collar.

[2019-05-22 23:06] Huh commented on #37
Related to #36

[2019-05-22 23:06] Huh commented on #36
Related to #37

[2019-05-22 23:07] Huh commented on #34
Is this resolved?

The java.lang.String basically reflects the fact that they changed how they want dates formatted. I changed the function in the package in the last pull request and documented it in the vignette as well.

I think this works, but if @foresthayes could verify that would be great.

[2019-05-23 04:33] foresthayes commented on #34
The after_data_id option now works as intended.

The start_date and which_date arguments do not appear to actually do anything.

For example, in my test:

[code]
The two data sets produced are identical (although the initial row order is different).

[2019-05-23 19:13] Huh commented on #34
Ok, I will revisit, but I am not sure this is our error.

[2019-05-24 21:22] Huh commented on #34
Vectronics changed the URL and added /v2/ before collar. The package now uses the v2 version.

The `identical()` function won't work for this situation. I can't tell you why exactly, but the data are the "same". We can explore that more later.

[2019-05-24 21:22] #34 closed

[2019-05-24 21:24] Huh commented on #25
Is this with all files? For example if you read the lotek file twice would this happen or does it only happen when a large header is present?

A reproducible example would be nice (using the example data in `/inst/extdat/`).

[2019-05-26 00:51] Huh opened #41 "Inconsistency in the use of directories and files being passed to functions"
For the sake of user experience it would be nice if all of the functions took a directory or a file, but not both and not some combination of one or the other.

Thoughts on which is better?  I tend to think a vector of file names is better than a directory.

[2019-05-26 02:52] Huh opened #42 "Need test key for trap data type"
Vectronics documentation suggests that we may be able to call a trap tag 1000002 to test trap data types.

We should add this to the package data and implement tests.

[2019-05-26 02:59] Huh commented on #42
I added a folder and the key, but some settings can't be guessed. We will have to contact Vectronics to figure out the remainder of the key settings.

[2019-05-26 03:00] Huh commented on #42
Nevermind, my guesses worked and the key is now available.

[2019-05-26 03:00] #42 closed

[2019-05-26 03:41] foresthayes opened #43 "Quoted or unquoted arguments for functions?"
I think this topic merits further discussion.

In principle I like the idea of unquoted arguments, however it seems to add a substantial amount of code to every function and greatly increases complexity in some cases.  As we are increasing the scope of the package is this something worth continuing? For my part I am still struggling to predict how/when quosures will work and having difficulty gett

[2019-05-26 03:50] foresthayes commented on #41
To clarify - do you mean that we should make a single choice for the package whether to use directories or file names?

If so, my primary hesitation about using a vector of file names would be complicating user input for multiple key files or .csv files.  On the other hand, for functions that save an output to disk I would be reticent not to allow the user to specify a file name.

[2019-05-26 04:08] Huh commented on #41
I am of the opinion that `fetch_vectronics` should take a vector paths to key files. This is more flexible and easier for the user. Imagine you wanted to explore the data from a single collar. As it stands you would have to move that key to a new directory and then tell the function the directory that holds the single key...this seems backwards. We can provide a little function that wraps up the `

[2019-05-26 04:10] Huh opened #44 "Deprecate get_id_from_fnames"
I think `get_id_from_fnames` is a bad idea and would like to remove from the package. Any objections?

[2019-05-26 04:28] Huh commented on #41
`fetch_csv` uses file_paths as is, but `fetch_vectronics` uses a directory.

I refactored on my branch to use file paths. The user will now have to...
[code]

I think this is a small price given the added flexibility of being able to look at a single collar, which seems to happen a lot due to collars missing, mortalities and the like.

Does this screw you up @foresthayes ?

[2019-05-26 04:30] foresthayes commented on #41
This make sense - and embarrassingly I have done just that (moving a single key to a separate folder) for testing purposes. Given this switch I would advocate moving all functions only using file paths.

No issues on my end.

[2019-05-26 04:33] Huh commented on #41
Perfect, consider it done. Thanks for the quick replies at an odd hour.

[2019-05-26 04:34] foresthayes commented on #44
None here.

[2019-05-26 04:43] Huh opened #45 "Remove singular and plural version of functions for simplicity"
As a future enhancement I would like to collapse `build_vec_url` and `build_vec_urls` into a single function. These are both internal functions and so there is no fear of the user being confused, but for simplicity I would like to collapse them even if it makes our code a little more difficult to read.

An alternative to one function is renaming the singular version so it does not follow the prefi

[2019-05-26 04:45] Huh opened #46 "The new count option creates data of a different type and shape causing error"
Vectronics now has an option that allows us to count how many data points of a given type are available. When we call this using the existing code it throws an error because it is returning a single integer.

[2019-05-26 07:30] Huh commented on #43
I will look at the latest rlang documentation to see if there is any guidance or anything related to your question. I agree it is a bit onerous, but if I don't have to hit " twice for every argument I will be a happier user and when using dplyr I hate switching back and forth trying to remember what packages use it and which don't. I will search through some packages and see if I can't come up wit

[2019-05-26 07:45] Huh opened #47 "Tests are needed for several functions"
Functions that have no tests

- [ ] morph_gps
- [ ] cllr_remove_header
- [ ] style_scale_color
- [ ] style_theme
- [ ] style_scale_fill

I would appreciate it if @foresthayes could work on `morph_gps` and @teejclark worked on the plotting stuff. I will take care of `cllr_remove_header`.

[2019-05-26 15:13] foresthayes opened #48 "morph_gps should be able to combine multiple columns for date/time"
Some data sources provide date and time in separate columns.  The morph_gps function should be able to multiple columns to produce a single date/time column.

Data source examples:
Vectronics csv: utc_date and utc_time
ATS scrape function: year, julianday, hour, minute

Thus, the user should be able to use:
`morph_gps(data, dt = c(year, julianday, hour, minute), dt_format = "%y%j%H%M")`

[2019-05-26 15:15] #41 closed

[2019-05-26 18:33] Huh commented on #48
tidyr::unite is a clean way to accomplish this if you are looking for ideas

[2019-05-26 18:34] Huh commented on #44
Done

[2019-05-26 18:34] #44 closed

[2019-05-26 18:37] Huh commented on #36
All button names are listed in the form returned by the login step. The next step would be to create a lookup to cross reference id in site to collar id that user sees.

[2019-05-26 18:38] foresthayes commented on #48
Thanks, I'll try to address this at some point.

[2019-05-26 21:23] foresthayes opened #51 "Vectronics API call broken on master branch"
@Huh The fetch_vectronics function no longer works on the master branch.

Following the test for fetch_vectronics this is what the output now looks like:
[code]

[2019-05-26 21:28] Huh commented on #51
Try again, I just pushed the whole thing after some minor changes.  I will test on my end too.

[2019-05-26 21:29] Huh commented on #51
How bout those pretty column names, eh? I hope that function continues to work well, cuz it does make nice names so far...fingers crossed

[2019-05-26 21:38] foresthayes commented on #51
Resolved. Thanks!

[2019-05-26 21:38] #51 closed

[2019-05-26 22:07] Huh commented on #46
Now returns a table of id, type and count to the user.

[code]

[2019-05-26 22:07] #46 closed

[2019-05-26 22:51] Huh commented on #47
@teejclark if you can write a few tests and check the boxes we will be good, thanks.

Recall that you can type `covr::report()` in the console and get a report of what is and is not covered for each file.

[2019-05-26 23:40] Huh opened #52 "Add id when reading many csv files"
I have been thinking about this a little and have a few options for how a user might add an id to many files.

1) purrr::imap allows us to access id information if the object passed is a named list.
2) purrr::map2 would allows us to ingest two vectors of equal length, file.names and ids
3) other options

I do think we need this functionality at some point.

[2019-05-27 04:56] #19 closed

[2019-05-29 00:13] foresthayes opened #53 "Error in fetch_ats function"
fetch_ats function returns the following error:

I think this may be related to the rename section (line 80) but I am not positive.

[2019-09-13 16:28] dgermanwildlife opened #55 "Vectronics sample pull doesn't work?"
I would like to use the Vectronics API to download data.  I can't get even the simplest example to work.  Code is below.

R> library(collar)
R>  key_paths <- get_paths(
     system.file(
       "extdata",
       package = "collar"
    )
  )
R>  vec_dat <- fetch_vectronics(key_paths)
Downloading Vectronics collar data...
Error in curl::curl_fetch_memory(url, handle = handle) :
  Timeout was reached

[2019-09-13 17:08] Huh commented on #55
It won't even work in the browser, so maybe Vectronics is having issues with their API again. It was down recently and may be down again. I will keep testing the code, but everything seems to be working except for the timeout.

Maybe @ckochanny has some insight here?

[2019-09-13 17:09] Huh commented on #55
A quick test to bypass the some of the code is to build the url and then copy and paste it into your browser. That will remove any flaws in our attempt to contact the API endpoint.

Example url below
[code]

[2019-09-13 17:10] Huh commented on #55
@foresthayes is this working for you?

[2019-09-13 17:29] foresthayes commented on #55
@Huh its not working for me either.  I think it has been down for a couple weeks but haven't had time to troubleshoot so I am not positive.

[2019-09-13 17:30] dgermanwildlife commented on #55
Thanks for looking into this.    Since I had no experience with this interface, I wasn’t sure if it was me or Vectronics.   I will be patient (I guess).

David German
Research Analyst
California Department of Fish and Wildlife
787 North Main Street, Suite 220
Bishop, CA 93514
(760) 873 8536 (o)
(760) 937 6203 (c)
David.German@wildlife.ca.gov<mailto:David.German@wildlife.ca.gov>

From: foresthayes

[2019-09-13 17:37] Huh commented on #55
Thanks Dave and Forest.

Their website kept crashing while I was looking at the documentation, which isn't the best sign.

I did email Chris K who has been responsive in the past about these issues.

I can't get a positive response from the API for a full url or any subset of the url, so I am guessing it is down.
[code]

Main website example for positive resonse
[code]

[2019-09-14 06:01] Huh commented on #55
Chris did respond and said he would text Tobias who is in charge of the API, etc. That is the end of the trail for now.

[2019-12-15 20:20] ctlamb commented on #55
I am having this same issue. Just started to learn this package today
[code]

[2019-12-18 19:51] Huh commented on #55
@ctlamb as far as I know the API is still down on their end. I did send another email inquiring about the state of the API and will post here if I get an update. Thanks for the note.

[2019-12-21 21:16] Huh commented on #55
@ctlamb and @dgermanwildlife I just heard from Vectronics that the new API is functional. They changed the URL again, so I rebuilt the package and made everything point to the new URL.

Please let me know if you have any other problems.

[2019-12-21 21:16] #55 closed

[2019-12-21 21:18] Huh commented on #53
This is now fixed. The error was due to a syntax change on the tidyverse side...

[code]

[2019-12-21 21:18] #53 closed

[2019-12-21 21:53] ctlamb commented on #55
Awesome, thanks so much for your support on this!

--
Clayton Lamb, PhD
Postdoctoral Fellow
Canadian Mountain Network
e: ctlamb@ualberta.ca
p: 778-215-0334
t: @ClaytonTLamb
w: www.lamb-eco-research.ca

[2020-04-07 18:53] Huh opened #57 "Potential issue with Vectronics example data"
The csv saved in inst/ext-data had Latitude [degree symbol] in the column name. Previously readr::read_csv worked for this case and our rename function removed these characters. Now readr::read_csv fails on this file, but read.table, read.csv still work. I am making this issue as a place holder to return to this issue.

The stop gap measure taken was to remove those characters from the column name

[2020-05-12 18:12] HansMartinMT opened #60 "key_dir removed from fetch_vectronics"
The fetch_vectronics vignette says that a directory object can be used, however, the function now only takes key_paths. It looks like the key_paths<-get_paths(key_dir) needs to be re-added to the fetch_vectronics function. However, maybe this is not the case the vignette needs to be changed.

[2020-05-12 19:07] Huh commented on #60
Thanks @HansMartinMT I am looking at it now and not sure I am following.

I see get_paths(), which does take a directory and only a directory and returns all files with a given extension. From get_paths definition:

[code]

Are you saying that you want fetch_vectronics to get the keys for you so you don't have to do this in a separate step?

I want to make this more clear if it is confusing, could

[2020-05-12 19:42] HansMartinMT commented on #60
I just realized what happened. I was looking at the old vignette from when i downloaded the package almost a year ago and the old fetch_vectronics function used the key_dir instead of the key_paths. Sorry about that.

[2020-05-12 19:42] #60 closed

[2020-05-12 19:45] Huh commented on #60
Thanks @HansMartinMT

[2020-05-20 03:45] kissmygritts commented on #13
@Huh just chiming in to agree with @rgzn. I tend to type `collar::fetch_csv` when I use packages and want text completion. This is kind of attempting to add namespacing when it already exists. I do like your design philosophy of families of function.

[2020-05-20 03:53] kissmygritts commented on #8
@foresthayes, what if you write one function that deals with converting both, then partially apply that function to create the `cels_to_fahr` and `fahr_to_cels`?

[code]

I'm still trying to figure my way around this library to help contribute. Maybe you've already done this.

[2020-05-20 04:09] Huh commented on #13
Thanks for the feedback @kissmygritts

I think I agree with you. I would like to reorganize the package a bit and this could be part of that effort.

[2020-07-06 19:26] annam21 opened #63 "fix Vectronic name"
The company name is Vectronic, not Vectronics

[2020-07-06 19:28] annam21 opened #64 "Add Telonics capability"
Feature request: add Telonics to the list of companies

[2020-07-06 19:51] Huh commented on #64
I hear you and will keep this high on the list. I spoke with Telonics at a conference last year and it raised some concerns about how to interact with their data. My questions at this point are

- [ ] Do they have an API similar to the others?
- [ ] Is external software required?
- [ ] I think there is a key like file that is needed to interact with the data, need clarification on that

I have a v

[2020-07-06 19:53] Huh commented on #63
That is embarrassing. I guess we could even go Vectronic Aerospace GmbH. Feel free to fix anything you like on a development branch and submit a pull request, we would appreciate it=)

[2020-07-07 03:11] foresthayes commented on #64
I have some (limited) insight on a couple of those points –

The primary method of data access is through stand-alone software (https://www.telonics.com/software/tdc.php). I believe an account with a username and password is the only option for interacting with the program (no key files).

There is a limited ability to access data from a web browser (https://www.telonics.com/software/status.php) –

[2020-07-31 18:35] annam21 opened #66 "Assign correct time zone"
Feature request - assign the correct time zone when manipulating collar data. If left blank (as current), it tries to assign system time, which is incorrect.

[2020-07-31 18:40] Huh commented on #66
What should the default be? I haven't thought about this in a while, but the system time seems kinda reasonable for most agency work.

[2020-07-31 18:45] annam21 commented on #66
No, because it actually comes in as UTC, but the computer tries to assign it as system time, which would make all analyses off by a lot (7 hours for mountain)

I have verified with Telonics that the data are recorded as UTC. I have verified with Vectronic that the acquisitiontime column from the API is UTC.

[2020-07-31 18:48] Huh commented on #66
Depends on which column we pick then, no?

What is your proposal for a default? Could be an error. What about DST? How strictly are they defining UTC?

[2020-07-31 18:52] annam21 commented on #66
Since we know how Vectronic is coming in, we could hard-code it. We could also verify how Lotek and ATS come in.

Otherwise, I like the idea of an error. It will make people annoyed, but whenever you're introducing POSIX, I feel strongly that it should be purposefully assigned a time zone.

[2020-07-31 19:05] Huh commented on #66
I don't want to favor any one company. I also remember data structures with multiple time columns, so skeptical of any default being correct. I think I like the error as well.

[2020-07-31 19:14] Huh commented on #66
Can you point me to the function you are commenting on here? Are you going to propose a solution or are you asking someone else to do it?

Thanks

[2020-07-31 19:24] annam21 commented on #66
collar::morph_gps

I wanted to make a note so we don't forget. I might be able to propose a solution at a later date.

[2020-07-31 19:29] ericnewkirk commented on #66
Re: confirming time data expectations with manufacturers, this is from ATS in 2017:

And this is from the same guy at ATS in 2019, after someone I worked with realized the times didn't make sense:

It's a different company, I know, but my point is just that some of the people providing the data don't even know what's going on. I was using a really similar workflow to the ATS web scraper in this pa

[2021-04-12 15:16] ericnewkirk commented on #20
Addressed in [pr #68](https://github.com/Huh/collar/pull/68)

[2021-04-12 15:17] ericnewkirk commented on #36
Addressed in [pr #68](https://github.com/Huh/collar/pull/68)

[2021-05-19 11:48] thomasgable opened #70 "SSL Certificate Expired-Vectronics"
Have been using the collar package for some time to download Vectronic data with no issue. Tried to download some data this morning and got the message below. What is the solution to this?

Downloading Vectronics collar data...
Error in curl::curl_fetch_memory(url, handle = handle) :
  SSL certificate problem: certificate has expired
Called from: curl::curl_fetch_memory(url, handle = handle)

[2021-05-19 15:05] ericnewkirk commented on #70
Thanks for reporting this - the same thing happened about a year ago. There's nothing we can do in R to fix it, but it usually doesn't take long for Vectronic to take care of it. I just tried an API call on the demo account using https and it worked fine, so maybe they've corrected it already?

[Vectronic API Test Call](https://api.vectronic-wildlife.com/v2/collar/1000001/gps?collarkey=6484B8CA88E

[2021-05-19 15:08] thomasgable commented on #70
Thanks for the quick response! I just tried again and it worked just fine! Vectronic must have taken care of it already! Wonderful!

[2021-05-19 15:09] ericnewkirk commented on #70
Great - that was easy!

[2021-05-19 15:09] #70 closed

[2021-05-20 15:40] ericnewkirk opened #71 "Use dates to join ATS positions and transmissions"
In order to figure out which data substitutions are happening in the fix data we need info from the transmissions, but relating fixes to transmissions is complicated and imperfect. Right now we use the NumberFixes column in transmissions and the row number in fixes, but there are inaccurate values in the NumberFixes column at times that throw everything off. Using the dates is not always accurate

[2021-07-22 13:00] gavincotterill opened #72 "fetch_ats_positions now returning rvest error"
As of 7/19/2021 code that had been working following the Feb. ATS website change is returning error.
If there's a way to create a reprex without divulging account information let me know and I'd be happy to work on that. The issue looks like this:

[code]
 The call to fetch_ats_positions() returns the following error:

[code]
I can manually log into the account and retrieve the positions. I'm not

[2021-07-22 14:11] ericnewkirk commented on #72
Thanks for the nudge, I had fallen behind on syncing updates with the main repo. ATS did in fact change the site again, which causes that function to fail when filtering by collar(s).

I just merged all the updates for the fix - can you try reinstalling with `devtools::install_github("huh/collar")` or `remotes::install_github("huh/collar")` and see if it works now?

[2021-07-22 15:24] gavincotterill commented on #72
We're back in business. Thanks so much!!

[2021-07-22 15:41] #72 closed

[2022-08-18 00:57] dgermanwildlife opened #80 "error connecting to lotek site even with the sample password.- token supplied to the function is invalid"
Here is my sample code:

lotek_base_url <- "https://webservice.lotek.com"
usr = "demo", pwd = "PASSWORD09"
 httr::POST(url = lotek_base_url,  path = list("API", "user", "login"),  body = list(grant_type = "password",  username = usr,  Password = pwd))

Here is the response I get.

Error in curl::curl_fetch_memory(url, handle = handle) :
  schannel: next InitializeSecurityContext failed: SEC_E_INVA

[2022-08-18 19:49] Huh commented on #80
@dgermanwildlife which version of the package are you using? The code above does not match the current version and for me returned a 400 error. The up to date version worked for me using:

[code]

Please try the above code and perhaps try this as well to see if you can hit any website from your machine

[code]

Last, any clues if you run lotek_login or the above code with something like:

[code]

[2022-08-18 22:34] dgermanwildlife commented on #80
Hi Josh,

I tried your suggestions.  The results seem to be inconsistent, or at least I can't see why they change.  I restarted R and ran the code you sent.  See results below as annotated.

Fresh start highlight all code and hit control enter to run --- error

R> lotek_base_url <- https://webservice.lotek.com
R>
R> usr = "demo"
R>
R> pwd = "PASSWORD09"
R>
R> resp<-NULL
R>
R> resp <- httr::RETRY(

[2022-08-29 01:51] Huh commented on #80
Turns out CO had a similar issue with ATS. Can you try specifying the user_agent in your requests to see if this helps? I am travling yet again for the next two days, but will do my best to keep digging. Thanks.

Something like:

[code]

[2022-08-29 23:06] eschaeff opened #81 "Error message when installing devtools::install_github("Huh/collar"....)"
"Huh/collar" has been working without issue the last year and suddenly it's started giving me an error message that I can't seem to figure out or understand to run my script. Any assistance is appreciated. Thanks!

Error: Failed to install 'unknown package' from GitHub:
  schannel: next InitializeSecurityContext failed: SEC_E_INVALID_TOKEN (0x80090308) - The token supplied to the function is inval

[2022-09-01 20:29] Huh commented on #81
Ha, this error is everywhere, see #80 for a related yet unrelated example. I think a deep dive into Rcurl or similar may be the only way to tease this out. I will look around a bit this afternoon and see if I can make any progress. Thanks for the example.

It is probably worth noting that I can't reproduce this error on any of the machines in our office. Also, I would tend to suggest the error is

[2022-09-01 21:13] Huh commented on #81
@eschaeff could you please provide output of

[code]

I am also assuming that you have a github PAT setup and it works as expected for other packages and operations. Does running the following suggest that you can connect to github?

[code]

[2022-09-03 17:29] ericnewkirk commented on #80
@Huh
@dgermanwildlife

I've tried digging into this a bit, too, but can't reproduce it. All the Lotek functions are working as intended for me. There were `curl` updates a while back that may have been related, but the issues there seem a little off and are mostly out of date. I don't think it's related to the user agent issue with ATS, though.

I think a certificate is automatically being sent wi

[2022-09-03 17:37] ericnewkirk commented on #81
@Huh a PAT shouldn't be required for downloading a public repo, but maybe that's the problem? I wonder if devtools is passing the PAT anyway and it's invalid. I agree the output of `session_info()` and `git_sitrep()` would be super helpful.

@eschaeff can you try logging out of github using your browser, then running `devtools::install_github` again?

[2022-09-03 18:32] Huh commented on #81
I guess I was thinking you need to authenticate regardless of the action. Not sure though, I probably spend too much time in private repos.

[2022-09-03 18:36] Huh commented on #80
Thanks @ericnewkirk

I am leaning towards a windows specific problem and the way certificates are passed. The schannel behavior in particular is well documented and if you look through issues for curl and libcurl there are mentions of this and a commit that gives the option to specify the cert explicitly. All of that is great, but if we can't reproduce it we are really just guessing.

[2022-09-06 20:24] eschaeff commented on #81
@Huh yes, I'm working from an agency computer. I actually recently had a proxy problem that IT fixed, so maybe that created this issue with R since I never had this error in the past. If that is the source of this kind of error, do you recommend any steps I can take to correct it? I agree, it seems like that issue is devtools::install_github, not the collar package. I haven't needed the github PAT